*.bak
*.key
*.pem
*.swp
*.tfstate
*.tfstate.backup
*.tfvars.json
*_override.tf
*_override.tf.json
.DS_Store
.env
.env.*
.gcloud/
.idea/
.terraform/
.terraform.lock.hcl
.vscode/
node_modules/
npm-debug.log*
override.tf
override.tf.json
portal
secrets.yaml
settings.json
